#intro {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	margin-top: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#hourlyWage {
	width: 200px;
	height: 70px;
}

#accept {
	width: 150px;
	height: 75px;
	margin-top: 20px;
	font-size: 1.7em;
}

#main {
	margin-top: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#end {
	width: 150px;
	height: 70px;
	font-size: 1.7em;
}

#results {
	background-color: white;
	font-size: 1.7em;
}